altgraph==0.13
appdirs==1.4.3
impacket==0.9.23
macholib==1.8
modulegraph==0.14
netifaces==0.10.5
packaging==16.8
pcapy==0.11.1
py2app==0.12
PyInstaller==3.2.1
pyparsing==2.2.0
PySide==1.2.4
pysqlcipher==2.6.7
six==1.10.0
